body {
    margin: 0;
    background-image: url(./img/sea.jpg);
}

.a1 {
    height: 85px;
    background: #4b95a1;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    padding-right: 130px;
}

.b1 {
    margin-left: 14.1%;
}

.logo {}

.a1-ssilki {
    margin-left: auto;
    color: #dce3e4;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    width: 447px;
}

.a1-item1 {
    color: #fff;
}

.need {
    margin-top: 130px;
    color: #e4e4e4;
    font-size: 30px;
    text-align: center;
}

.need-1 {
    margin-top: 25px;
    font-size: 30px;
    color: #e4e4e4;
    text-align: center;
}

.r {
    margin-left: calc(50% - 120px);
    display: flex;
    width: 240px;
    height: 52px;
    margin-top: 45px;
    border-radius: 6px;
    border: solid 4px #afb1b4;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #e4e4e4;
}

.circle {
    width: 90px;
    height: 10px;
    margin-left: calc(50% - 45px);
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circle1 {
    width: 9px;
    height: 9px;
    border: solid 1px white;
    border-radius: 50%;
    background: white;
}

.circle2 {
    width: 9px;
    height: 9px;
    border: solid 1px #69728c;
    border-radius: 50%;
    background: #69728c;
}

.banner {
    height: 450px;
    background: white;
    padding-top: 85px;
}

.text1 {
    text-align: center;
    font: 30pt/49pt HelveticaLTStd;
}

.text2 {
    margin-top: 50px;
    text-align: center;
    font: 14pt/22pt HelveticaLTStd-Roman;
}

.png {
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.shape2 {
    margin: 0 10%;
}

.green {
    height: 468px;
    background: #00d089;
}

.map {
    display: flex;
    height: 560px;
    background-image: url(./img/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.circle3 {
    margin-top: 53px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 2px solid #e6e5e2;
    background: rgba(253, 253, 253, 0.8);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in1 {
    width: 277px;
    height: 33px;
    margin-top: 111px;
    outline: none;
}

.in2 {
    width: 277px;
    height: 33px;
    margin-top: 13px;
    outline: none;
}

.text {
    width: 277px;
    height: 82px;
    margin-top: 13px;
    resize: none;
    margin-bottom: 32px;
    outline: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background: #00d089;
    position: absolute;
    top: 2100px;
}